.toolbar{
    position:flex;
    width: 100%;
    height: 60px;
    background-color: blue;
}

.toolbar button{
    position: absolute;
    margin: 1%;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    top:4%;
    font-size: 30px;
    color:beige;
}

.btnSalir{
    position: absolute;
    width: 140px;
    height: 30px;
    right: 1%;
    top:2%;
}



.login{
    
    padding: 20px;
    background-color: rgba(246, 243, 243,0.4);
    margin-top: 5%;
    
}

.screen{
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-image: url("../../../../assets/imagenes/papel-pintado-pared-hormigon-pintado-textura-concepto-coloreado_53876-31799.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}