<div class="container">

    <div class="row" class="toolbar">
            
    </div>

    <div class="row">

      <div class="col-sm">
        <div class="card" >
            <img src="../../../assets/imagenes/alta-admin.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Altas</h5>
              <p class="card-text">Aquí podra dar de alta a especialistas,clientes y recepcionistas.</p>
              <button (click)="this.router.navigateByUrl('altas-admin')" class="btn btn-primary">Click aquí </button>
            </div>
          </div>
        </div>

        <div class="col-sm">
                <div class="card" >
                    <img src="../../../assets/imagenes/estadisticas-admin.png" class="card-img-top"  salt="...">
                    <div class="card-body">
                      <h5 class="card-title">Estadísticas</h5>
                      <p class="card-text">Aquí podrá bver estadíticas de los empleados, turnos y especialidades.</p>
                      <button (click)="this.router.navigateByUrl('estadisticas-admin')" class="btn btn-primary">Click aquí </button>
                    </div>
                  </div>
                </div>
        

    </div>

</div>
  

